{
  "FunctionName": "pocketpoker-backend",
  "Environment": {
    "Variables": {
      "PORT": "4000",
      "USE_DYNAMO_STORE": "true",
      "DYNAMO_TABLE_NAME": "pocketpoker-prod-20251120",
      "ADMIN_API_KEY": "replace-me",
      "ASSET_UPLOAD_BUCKET": "pocketpoker-prod-20251120/uploads/decks",
      "ASSET_UPLOAD_REGION": "af-south-1",
      "ASSET_PUBLIC_BASE_URL": "https://pocketpoker.co.za/uploads/decks"
    }
  }
}