{
  "FunctionName": "pocketpoker-backend",
  "Environment": {
    "Variables": {
      "PORT": "4000",
      "USE_DYNAMO_STORE": "true",
      "DYNAMO_TABLE_NAME": "pocketpoker-prod-20251120",
      "ADMIN_API_KEY": "replace-me",
      "ASSET_UPLOAD_BUCKET": "pocketpoker.co.za",
      "ASSET_UPLOAD_REGION": "af-south-1",
      "ASSET_PUBLIC_BASE_URL": "https://pocketpoker.co.za",
      "USE_DYNAMO_MATCH_QUEUE": "false",
      "PRIVATE_KEY": "921924438cde6c908a5831ace14bfa28b69aff8a2dd75d5f099a5433026f5e96",
      "ESCROW_CONTRACT_ADDRESS":"0xbf921091c9EA646aee2687C10a77C3d605364f98",
      "RPC_URL":"https://forno.celo.org"
    }
  }
}